src/RM3/Server/Montreal/MTLServer.wsdl

<!--  Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e.  -->
<!--  Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Montreal.Server.RM3/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Montreal.Server.RM3/" name="MTLHealthCareImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://Montreal.Server.RM3/" schemaLocation="http://localhost:8085/MTLSERVER?xsd=1"/>
</xsd:schema>
</types>
<message name="addAppointment">
<part name="parameters" element="tns:addAppointment"/>
</message>
<message name="addAppointmentResponse">
<part name="parameters" element="tns:addAppointmentResponse"/>
</message>
<message name="getBookingSchedule">
<part name="parameters" element="tns:getBookingSchedule"/>
</message>
<message name="getBookingScheduleResponse">
<part name="parameters" element="tns:getBookingScheduleResponse"/>
</message>
<message name="swapAppointmet">
<part name="parameters" element="tns:swapAppointmet"/>
</message>
<message name="swapAppointmetResponse">
<part name="parameters" element="tns:swapAppointmetResponse"/>
</message>
<message name="addNewCustomerToClients">
<part name="parameters" element="tns:addNewCustomerToClients"/>
</message>
<message name="addNewCustomerToClientsResponse">
<part name="parameters" element="tns:addNewCustomerToClientsResponse"/>
</message>
<message name="removeAppointment">
<part name="parameters" element="tns:removeAppointment"/>
</message>
<message name="removeAppointmentResponse">
<part name="parameters" element="tns:removeAppointmentResponse"/>
</message>
<message name="listAppointmentAvailability">
<part name="parameters" element="tns:listAppointmentAvailability"/>
</message>
<message name="listAppointmentAvailabilityResponse">
<part name="parameters" element="tns:listAppointmentAvailabilityResponse"/>
</message>
<message name="bookAppointment">
<part name="parameters" element="tns:bookAppointment"/>
</message>
<message name="bookAppointmentResponse">
<part name="parameters" element="tns:bookAppointmentResponse"/>
</message>
<message name="cancelAppointment">
<part name="parameters" element="tns:cancelAppointment"/>
</message>
<message name="cancelAppointmentResponse">
<part name="parameters" element="tns:cancelAppointmentResponse"/>
</message>
<message name="removeEventUDP">
<part name="parameters" element="tns:removeEventUDP"/>
</message>
<message name="removeEventUDPResponse">
<part name="parameters" element="tns:removeEventUDPResponse"/>
</message>
<message name="listAppointmentAvailabilityUDP">
<part name="parameters" element="tns:listAppointmentAvailabilityUDP"/>
</message>
<message name="listAppointmentAvailabilityUDPResponse">
<part name="parameters" element="tns:listAppointmentAvailabilityUDPResponse"/>
</message>
<portType name="MTLHealthCareImpl">
<operation name="addAppointment">
<input wsam:Action="http://Montreal.Server.RM3/MTLHealthCareImpl/addAppointmentRequest" message="tns:addAppointment"/>
<output wsam:Action="http://Montreal.Server.RM3/MTLHealthCareImpl/addAppointmentResponse" message="tns:addAppointmentResponse"/>
</operation>
<operation name="getBookingSchedule">
<input wsam:Action="http://Montreal.Server.RM3/MTLHealthCareImpl/getBookingScheduleRequest" message="tns:getBookingSchedule"/>
<output wsam:Action="http://Montreal.Server.RM3/MTLHealthCareImpl/getBookingScheduleResponse" message="tns:getBookingScheduleResponse"/>
</operation>
<operation name="swapAppointmet">
<input wsam:Action="http://Montreal.Server.RM3/MTLHealthCareImpl/swapAppointmetRequest" message="tns:swapAppointmet"/>
<output wsam:Action="http://Montreal.Server.RM3/MTLHealthCareImpl/swapAppointmetResponse" message="tns:swapAppointmetResponse"/>
</operation>
<operation name="addNewCustomerToClients">
<input wsam:Action="http://Montreal.Server.RM3/MTLHealthCareImpl/addNewCustomerToClientsRequest" message="tns:addNewCustomerToClients"/>
<output wsam:Action="http://Montreal.Server.RM3/MTLHealthCareImpl/addNewCustomerToClientsResponse" message="tns:addNewCustomerToClientsResponse"/>
</operation>
<operation name="removeAppointment">
<input wsam:Action="http://Montreal.Server.RM3/MTLHealthCareImpl/removeAppointmentRequest" message="tns:removeAppointment"/>
<output wsam:Action="http://Montreal.Server.RM3/MTLHealthCareImpl/removeAppointmentResponse" message="tns:removeAppointmentResponse"/>
</operation>
<operation name="listAppointmentAvailability">
<input wsam:Action="http://Montreal.Server.RM3/MTLHealthCareImpl/listAppointmentAvailabilityRequest" message="tns:listAppointmentAvailability"/>
<output wsam:Action="http://Montreal.Server.RM3/MTLHealthCareImpl/listAppointmentAvailabilityResponse" message="tns:listAppointmentAvailabilityResponse"/>
</operation>
<operation name="bookAppointment">
<input wsam:Action="http://Montreal.Server.RM3/MTLHealthCareImpl/bookAppointmentRequest" message="tns:bookAppointment"/>
<output wsam:Action="http://Montreal.Server.RM3/MTLHealthCareImpl/bookAppointmentResponse" message="tns:bookAppointmentResponse"/>
</operation>
<operation name="cancelAppointment">
<input wsam:Action="http://Montreal.Server.RM3/MTLHealthCareImpl/cancelAppointmentRequest" message="tns:cancelAppointment"/>
<output wsam:Action="http://Montreal.Server.RM3/MTLHealthCareImpl/cancelAppointmentResponse" message="tns:cancelAppointmentResponse"/>
</operation>
<operation name="removeEventUDP">
<input wsam:Action="http://Montreal.Server.RM3/MTLHealthCareImpl/removeEventUDPRequest" message="tns:removeEventUDP"/>
<output wsam:Action="http://Montreal.Server.RM3/MTLHealthCareImpl/removeEventUDPResponse" message="tns:removeEventUDPResponse"/>
</operation>
<operation name="listAppointmentAvailabilityUDP">
<input wsam:Action="http://Montreal.Server.RM3/MTLHealthCareImpl/listAppointmentAvailabilityUDPRequest" message="tns:listAppointmentAvailabilityUDP"/>
<output wsam:Action="http://Montreal.Server.RM3/MTLHealthCareImpl/listAppointmentAvailabilityUDPResponse" message="tns:listAppointmentAvailabilityUDPResponse"/>
</operation>
</portType>
<binding name="MTLHealthCareImplPortBinding" type="tns:MTLHealthCareImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addAppointment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBookingSchedule">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="swapAppointmet">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewCustomerToClients">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeAppointment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listAppointmentAvailability">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bookAppointment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelAppointment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeEventUDP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listAppointmentAvailabilityUDP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MTLHealthCareImplService">
<port name="MTLHealthCareImplPort" binding="tns:MTLHealthCareImplPortBinding">
<soap:address location="http://localhost:8085/MTLSERVER"/>
</port>
</service>
</definitions>