src/RM1/dams/server/QuebecWSDL.wsdl

<!--  Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e.  -->
<!--  Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.dams.RM1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.dams.RM1/" name="QUEHospitalServerService">
<types>
<xsd:schema>
<xsd:import namespace="http://server.dams.RM1/" schemaLocation="http://localhost:8788/QUEServer?xsd=1"/>
</xsd:schema>
</types>
<message name="quebecCancelAppointmentOfPatientId">
<part name="parameters" element="tns:quebecCancelAppointmentOfPatientId"/>
</message>
<message name="quebecCancelAppointmentOfPatientIdResponse">
<part name="parameters" element="tns:quebecCancelAppointmentOfPatientIdResponse"/>
</message>
<message name="quebecAppointmentScheduleOfPatientId">
<part name="parameters" element="tns:quebecAppointmentScheduleOfPatientId"/>
</message>
<message name="quebecAppointmentScheduleOfPatientIdResponse">
<part name="parameters" element="tns:quebecAppointmentScheduleOfPatientIdResponse"/>
</message>
<message name="quebecBookAppointment">
<part name="parameters" element="tns:quebecBookAppointment"/>
</message>
<message name="quebecBookAppointmentResponse">
<part name="parameters" element="tns:quebecBookAppointmentResponse"/>
</message>
<message name="quebecListAppointmenOfType">
<part name="parameters" element="tns:quebecListAppointmenOfType"/>
</message>
<message name="quebecListAppointmenOfTypeResponse">
<part name="parameters" element="tns:quebecListAppointmenOfTypeResponse"/>
</message>
<message name="listAppointmentAvailabilityQUE">
<part name="parameters" element="tns:listAppointmentAvailabilityQUE"/>
</message>
<message name="listAppointmentAvailabilityQUEResponse">
<part name="parameters" element="tns:listAppointmentAvailabilityQUEResponse"/>
</message>
<message name="getAppointmentScheduleQUE">
<part name="parameters" element="tns:getAppointmentScheduleQUE"/>
</message>
<message name="getAppointmentScheduleQUEResponse">
<part name="parameters" element="tns:getAppointmentScheduleQUEResponse"/>
</message>
<message name="bookAppointmentQUE">
<part name="parameters" element="tns:bookAppointmentQUE"/>
</message>
<message name="bookAppointmentQUEResponse">
<part name="parameters" element="tns:bookAppointmentQUEResponse"/>
</message>
<message name="addAppointmentQUE">
<part name="parameters" element="tns:addAppointmentQUE"/>
</message>
<message name="addAppointmentQUEResponse">
<part name="parameters" element="tns:addAppointmentQUEResponse"/>
</message>
<message name="addRecordIntoLogFileQUE">
<part name="parameters" element="tns:addRecordIntoLogFileQUE"/>
</message>
<message name="addRecordIntoLogFileQUEResponse">
<part name="parameters" element="tns:addRecordIntoLogFileQUEResponse"/>
</message>
<message name="removeAppointmentQUE">
<part name="parameters" element="tns:removeAppointmentQUE"/>
</message>
<message name="removeAppointmentQUEResponse">
<part name="parameters" element="tns:removeAppointmentQUEResponse"/>
</message>
<message name="cancelAppointmentQUE">
<part name="parameters" element="tns:cancelAppointmentQUE"/>
</message>
<message name="cancelAppointmentQUEResponse">
<part name="parameters" element="tns:cancelAppointmentQUEResponse"/>
</message>
<message name="swapAppointmentQUE">
<part name="parameters" element="tns:swapAppointmentQUE"/>
</message>
<message name="swapAppointmentQUEResponse">
<part name="parameters" element="tns:swapAppointmentQUEResponse"/>
</message>
<portType name="QUEHospitalServer">
<operation name="quebecCancelAppointmentOfPatientId">
<input wsam:Action="http://server.dams.RM1/QUEHospitalServer/quebecCancelAppointmentOfPatientIdRequest" message="tns:quebecCancelAppointmentOfPatientId"/>
<output wsam:Action="http://server.dams.RM1/QUEHospitalServer/quebecCancelAppointmentOfPatientIdResponse" message="tns:quebecCancelAppointmentOfPatientIdResponse"/>
</operation>
<operation name="quebecAppointmentScheduleOfPatientId">
<input wsam:Action="http://server.dams.RM1/QUEHospitalServer/quebecAppointmentScheduleOfPatientIdRequest" message="tns:quebecAppointmentScheduleOfPatientId"/>
<output wsam:Action="http://server.dams.RM1/QUEHospitalServer/quebecAppointmentScheduleOfPatientIdResponse" message="tns:quebecAppointmentScheduleOfPatientIdResponse"/>
</operation>
<operation name="quebecBookAppointment">
<input wsam:Action="http://server.dams.RM1/QUEHospitalServer/quebecBookAppointmentRequest" message="tns:quebecBookAppointment"/>
<output wsam:Action="http://server.dams.RM1/QUEHospitalServer/quebecBookAppointmentResponse" message="tns:quebecBookAppointmentResponse"/>
</operation>
<operation name="quebecListAppointmenOfType">
<input wsam:Action="http://server.dams.RM1/QUEHospitalServer/quebecListAppointmenOfTypeRequest" message="tns:quebecListAppointmenOfType"/>
<output wsam:Action="http://server.dams.RM1/QUEHospitalServer/quebecListAppointmenOfTypeResponse" message="tns:quebecListAppointmenOfTypeResponse"/>
</operation>
<operation name="listAppointmentAvailabilityQUE">
<input wsam:Action="http://server.dams.RM1/QUEHospitalServer/listAppointmentAvailabilityQUERequest" message="tns:listAppointmentAvailabilityQUE"/>
<output wsam:Action="http://server.dams.RM1/QUEHospitalServer/listAppointmentAvailabilityQUEResponse" message="tns:listAppointmentAvailabilityQUEResponse"/>
</operation>
<operation name="getAppointmentScheduleQUE">
<input wsam:Action="http://server.dams.RM1/QUEHospitalServer/getAppointmentScheduleQUERequest" message="tns:getAppointmentScheduleQUE"/>
<output wsam:Action="http://server.dams.RM1/QUEHospitalServer/getAppointmentScheduleQUEResponse" message="tns:getAppointmentScheduleQUEResponse"/>
</operation>
<operation name="bookAppointmentQUE">
<input wsam:Action="http://server.dams.RM1/QUEHospitalServer/bookAppointmentQUERequest" message="tns:bookAppointmentQUE"/>
<output wsam:Action="http://server.dams.RM1/QUEHospitalServer/bookAppointmentQUEResponse" message="tns:bookAppointmentQUEResponse"/>
</operation>
<operation name="addAppointmentQUE">
<input wsam:Action="http://server.dams.RM1/QUEHospitalServer/addAppointmentQUERequest" message="tns:addAppointmentQUE"/>
<output wsam:Action="http://server.dams.RM1/QUEHospitalServer/addAppointmentQUEResponse" message="tns:addAppointmentQUEResponse"/>
</operation>
<operation name="addRecordIntoLogFileQUE">
<input wsam:Action="http://server.dams.RM1/QUEHospitalServer/addRecordIntoLogFileQUERequest" message="tns:addRecordIntoLogFileQUE"/>
<output wsam:Action="http://server.dams.RM1/QUEHospitalServer/addRecordIntoLogFileQUEResponse" message="tns:addRecordIntoLogFileQUEResponse"/>
</operation>
<operation name="removeAppointmentQUE">
<input wsam:Action="http://server.dams.RM1/QUEHospitalServer/removeAppointmentQUERequest" message="tns:removeAppointmentQUE"/>
<output wsam:Action="http://server.dams.RM1/QUEHospitalServer/removeAppointmentQUEResponse" message="tns:removeAppointmentQUEResponse"/>
</operation>
<operation name="cancelAppointmentQUE">
<input wsam:Action="http://server.dams.RM1/QUEHospitalServer/cancelAppointmentQUERequest" message="tns:cancelAppointmentQUE"/>
<output wsam:Action="http://server.dams.RM1/QUEHospitalServer/cancelAppointmentQUEResponse" message="tns:cancelAppointmentQUEResponse"/>
</operation>
<operation name="swapAppointmentQUE">
<input wsam:Action="http://server.dams.RM1/QUEHospitalServer/swapAppointmentQUERequest" message="tns:swapAppointmentQUE"/>
<output wsam:Action="http://server.dams.RM1/QUEHospitalServer/swapAppointmentQUEResponse" message="tns:swapAppointmentQUEResponse"/>
</operation>
</portType>
<binding name="QUEHospitalServerPortBinding" type="tns:QUEHospitalServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="quebecCancelAppointmentOfPatientId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="quebecAppointmentScheduleOfPatientId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="quebecBookAppointment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="quebecListAppointmenOfType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listAppointmentAvailabilityQUE">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAppointmentScheduleQUE">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bookAppointmentQUE">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addAppointmentQUE">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addRecordIntoLogFileQUE">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeAppointmentQUE">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelAppointmentQUE">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="swapAppointmentQUE">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="QUEHospitalServerService">
<port name="QUEHospitalServerPort" binding="tns:QUEHospitalServerPortBinding">
<soap:address location="http://localhost:8788/QUEServer"/>
</port>
</service>
</definitions>